<div class="banner"">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="col-12 text-center">
        <h1 class="align-middle">Watch List</h1>
        <p>Bookmark your favorite movies.</p>
        <a href="#down"><i class="fas fa-angle-down"></i></a>
        <div id="down">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
      <%= link_to 'Add a list', new_list_path, class: 'btn btn-primary btn-sm' %>
  <div class="d-flex flex-wrap justify-content-center">
    <% @lists.each do |list| %>
      <div class=" col-12 col-lg-4 card-category m-3 mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
      url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : image_path("nature.jpg") %>)">
        <%= list.name %>
          <%= link_to '', list_path(list), class: 'card-trip-link' %>
      </div>
    <% end %>
  </div>
</div>
