<div class="container col-8 mt-5 offset-2">
  <h2 class="">Create a new list</h2>
  <%= simple_form_for @list do |f| %>
    <div class="d-flex justify-content-center align-items-center">
      <%= f.input :name, label: false, input_html: { placeholder: "List name", class: "input input-photo mt-3 mb-3" } %>
      <%= f.input :photo, as: :file, label: false, class: 'ms-3' %>
    </div>
      <%= f.submit 'Add', class: 'btn btn-primary mt-1'%>
  <% end %>
</div>
