<div class="container m-5">
  <div class="d-flex justify-content-center">
    <div class="col-12 col-md-8">

<% @list.bookmarks.each do |bookmark| %>
      <div class="card-trip">
        <%= image_tag bookmark.movie.poster_url, alttext: 'movie_image' %>
        <div class="card-trip-infos">
          <div>
             <%= bookmark.movie.title %>
            <p>Short description here!</p>
          </div>
        </div>
      </div>
<% end %>
    </div>
            <%= link_to lists_path do%>
              <i class="fas fa-plus"></i>
            <% end %>
  </div>
</div>
